body, html
{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#viewport
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
}

#ui
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}

.leap-droptarget
{
	position: absolute;
	width: 200px;
	height: 50%;
}

.leap-poketarget
{
	box-shadow: inset 0 0 0px #000000;
}

.leap-dragtarget, .leap-poketarget
{
	position: absolute;
}


.leap-catchtarget
{
	position: absolute;
	width: 200px;
	height: 50%;
}

.leap-droptarget h1, .leap-dragtarget h1, .leap-catchtarget h1, .leap-poketarget h1
{
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 20px;
	color: white;
}