.c1 { color: #16558C; }
.c2 { color: #224A59; }
.c3 { color: #96D9D9; }
.c4 { color: #195953; }
.c5 { color: #0D0D0D; }

html, body
{
	width: 100%;
	height: 100%;
}

#leapcat
{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #0D0D0D;
}

#catstream
{
	width: 100%;
	position: relative;
}

#catstream .cat
{
	position: absolute;
	top: 0;
	left: 0;
}

.paw
{
	position: absolute;
	top: 0;
	left: 0;
	 background-color: rgba(204, 0, 102, 0);
	 border: 5px solid #16558C;;
	 height: 50px;
	 -moz-border-radius:35px;
	 -webkit-border-radius: 35px;
	 width: 50px;
	display: block;
}

.paw.active
{
	background-color: #96D9D9;
}

.debug
{
  position: absolute;
	width: 400px;
	height: 100px;
	color: white;
	top: 50px;
}

.debug p
{
	padding: 0;
	margin: 0;
}