#upvotetarget
{
	left: 0;
	top: 0;
	background-color: #003399;
}

#downvotetarget
{
	left: 0;
	bottom: 0;
	background-color: #005599;
}

#saveandupvotetarget
{
	right: 0;
	top: 0;
	background-color: #007799;
}

#savetarget
{
	right: 0;
	bottom: 0;
	background-color: #009999;
}

#texttest
{
	left: 20%;
	top: 20%;
}


.upvote
{
	background-color: orange !important;
}

.downvote
{
	background-color: blue !important;
}


#poke1
{
	bottom: 100px;
	left: 25%;
	width: 100px;
	height: 100px;
	background-color: #552299;
}

#poke2
{
	bottom: 100px;
	right: 25%;
	width: 100px;
	height: 100px;
	background-color: #552299;
}


.debugdrag
{
	width: 100px;
	height: 100px;
	background-color: #999999;
}
